html{
  scroll-behavior: smooth
}
* {
  font-family: Arial, sans-serif;
}

/* =======Cover Section========== */
.top-bar {
  background-color: #0039c0;
  padding: 5px 20px;
  text-align: right;
}
.cover {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("imgs/coverimg.webp") no-repeat center center/cover;
  z-index: -1;
  color: white;
}

.cover-content {
  position: absolute;
  top: 20%;
  left: 2%;
}
.cover .cover-content h1 {
  font-weight: bold;
}
.cover .cover-content p {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
}

.cover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 1;
}

.navmanu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0039c0;
  opacity: 0.9;
  z-index: 1;
}
.navmanu ul li a {
  color: white;
  text-decoration: none;
  margin-right: 30px;
  font-size: 14px;
}
.navmanu ul li a:hover {
  color: rgb(87, 82, 82);
}

/* =======Cover Section========== */

/* =======Used cars========== */

.custom-width {
  max-width: 1300px;
  border-radius: 10px;
  margin-top: -30px;
}

.container a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

/* =======Used cars========== */
/* ======= Ne Arrivals========== */

.custom-card {
  position: relative;
  border: 2px solid rgb(87, 82, 82);
 
  overflow: hidden;
  background-color: #fff;
}

.badge-new {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  font-size: 0.8rem;
 
  z-index: 1;
}

.custom-img {
  width: 100%;
  height: auto;
  display: block;
}

.custom-content {
  padding: 10px;
}
.zoom-img {
  transition: transform 0.3s ease;
}

.zoom-img:hover {
  transform: scale(1.1);
}
/* ======= New Arrivals========== */

/* ======= Search By Types========== */
.circle-icon {
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  margin: 0 auto 15px auto;
}

/* ======= Search By Types========== */




